
.contain{
	display: grid;
	grid-template-areas: 
	'header header header'
	'header1 header1 header1'
	'mainBar mota mota'
	'content content1 content1'
	'footer footer footer';
	grid-template-columns: 150px auto ;
	margin-top: 100px;
	margin-left: 150px;
	margin-bottom: 150px;
	margin-right: 150px;
}
.header{
	background-color: pink;
    grid-area: header;
    display: flex;
}
.giohang{
	flex-grow: 1;
	margin-left: 500px;
}
.header1{
	grid-area: header1;
	background-color: orange;
}
.mainBar{
    width:260px;
	grid-area: mainBar;
	flex-grow: 2;
}
.mainBara {
  	width: 250px;
	border-right-style: 50px;
	border:2px solid;
	border-color: #EC4917;
}
.mainBara a {
	background-color: #eee;
	color: black;
	display: block;
	padding: 12px;
	text-decoration: none;
}
.mainBara a:hover {
  	background-color: #ccc;
}
.mainBara a.active {
  	color: black;
}
.mainBar1{
	flex-grow: 1;
	background-color:#A34D4D;
	margin-left: 110px;
	grid-area: mainBar1;
}
.mainBar1 a{
text-decoration: none;
}
.content{
	width: 260px;
	grid-area: content;
	border: 1px solid #9E9494;
}
.content1{
	/*border: 1px solid #EADEDE;
	margin-left: 150px;
	grid-area: content1;*/
	margin-left: 150px;
	display: grid;
	grid-template-columns: auto auto auto auto;
}
.footer{
	background-color: yellow;
	width: 260px;
	grid-area: footer;
}
.footer1{
	grid-area: footer1;
}
.footer11{
	border: 2px solid #BBAEAE;
	border-top-color: red;
	display: flex;
	margin-left: 150px;
}
.mota{
	grid-area:mota;
	margin-left: 110px;
}
.image{
	width: 200px;
	height: 200px;
}
.line{
	border:1px solid #6A6565;
	margin-left: 10px;
	margin-top: 20px;
}
.price{
	color: red;
}
